.heading-1 {
    font-size: 70px; color: #006595;
}
.heading-2 {
    font-size: 60px; color: #006595
}
.heading-3 {
    font-size: 50px; color: #006595
}
table {
    width: 100%;
}
.title ul li a {
    color: #006595;
}
.title{
     height: 40px;
     width: 200px;
    vertical-align: top;
    border: 1px solid black;
}
.title ul li {
    list-style: circle;
}
.anh{
    background-image: url(bìa.jpg)
}
.khung{
    
}
.mau{
    background-color: #006595;
    color: white;
}
.main-content {
    display: flex;
}
.main-content > span{
    padding-left: 10px;
}
.backtop{
    text-align: right;
}
.main-content-1{
    display: flex;
    justify-content: space-between;
}
.border{
    border: 1px solid black;
}
.style{
    color: green;
    text-align: center;
}
.style-2{
 text-align: center;
}
.style-3{
    text-align: center;
    color: rgb(20, 172, 20);
}
.style-4{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.style-k{
    display: flex;
    justify-content: center;
}
.style-a{
    display: flex;
    justify-content: center;
}
.dot {
    margin-left: 10px;
    height: 5px;
    width: 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}
.bai2{
    color: green;
    font-size: 30px;
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
.borderstyle{
    
    color: black;
    width: 430px;
    background: rgb(236, 233, 233);
}