.dài{
    width: 700Px;
}
.cao{

}
.position{
    margin-left: auto;
    margin-right: auto;
}
.position > table:first-child {
    border: 2px solid black;
}
.content {
    vertical-align: top; 
    width: 300px; 
}
h5{
    margin-bottom: 0px;
    margin-top: 0px;
}
.content > h3:first-child {
    text-align: left;
}
.content > h1:first-child {
    text-align: right;
}
.content > h5{
    text-align: center;
}
