.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inset{
 border-style: outset;
}
.style-4{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
  }
  .flex{
      display: flex;
      justify-content: center;
  }