.style{
    color: #096F25;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.style2{
    font-size: 40px;
    color: #096F25;
}
.border{
    border:1px solid green;
    width: 320px;
   display: flex;
   flex-direction: column;
   align-items: center;
  margin-right: 10px;
}
.padding{
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 10px;
}
.border2{
    border:1px solid green;
    width: 246px;
}
.size{
    font-size: 50px;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.padding{
    color: #096F25;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}
.textcolor{
    color: black;
}
.