html,
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.style{
    color: green;
    text-align: center;
    font-size: 30px;
}
.style2{
    text-align: center;
    font-size: 16px;
}
.style3{
    width: 45px;
    padding: 10px;
    background: black;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
.style4{
    display: flex;
    justify-content: center; 
}
.style5{
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 20px;
}
.style5 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.style5 .label {
    display: block;
    position: absolute;
    left: -20px;
    top: -30px;
    right: auto;
    bottom: auto;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background: red;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
}
.style5 .label span {
    display: block;
    font-size: 0.7em;
}
.style5 .label.green {
    right: -20px;
    left: auto;
    background: green;
}
.button{
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    padding: 10px;
  }
  .button1{
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    padding: 10px;
  }
  .textalign{
      text-align: left;
      margin-left: 54px;
      padding: 8px;
      width: 300px;
  }
.check{
    color: green;
}
.panding-text{
    padding: 8px;
}
.margin1{
    display: flex;
    
    justify-content: center;
}